.maincontainer {
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 1000px;
  }
  
  .thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
  }
  
  .maincontainer.flipped .thecard {
    transform: rotateY(180deg);
  }
  
  .thefront,
  .theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .thefront {
    color: #000;
  }
  
  .theback {
    color: #333;
    transform: rotateY(180deg);
  }
  