.background-gradient {
  background: linear-gradient(
    135deg,
    rgba(98, 58, 162, 0.1) 0%,
    rgba(249, 119, 148, 0.1) 50%,
    rgba(98, 58, 162, 0.1) 100%
  );
}

.square-dotted-line {
  background-image: linear-gradient(to right, #ffffff 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 15px 1px;
  background-repeat: repeat-x;
} 