.background-gradient {
  background: 
    radial-gradient(circle, rgba(126, 220, 228, 0.2) 0%, transparent 70%) 50% 0%,
    radial-gradient(circle, rgba(246, 90, 14, 0.2) 0%, transparent 70%) 0% 70%,
    radial-gradient(circle, rgba(195, 255, 85, 0.2) 0%, transparent 70%) 100% 50%;
  background-size: 200% 200%;
  animation: gradient-float 15s ease infinite;
}

@keyframes gradient-float {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 